body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
<<<<<<< HEAD
    background-color:#fff; 
 
=======
    background-color:teal; 
    color: #fff;
>>>>>>> recommending/main
}
 .home {
    font-size: 30px;
    color: #000;
    
 }
.container {
    width: 80%;
    margin: 0 auto;
}

<<<<<<< HEAD
.fa {
    font-size: 30px;
    margin:22px;
    border: 1px solid black;
    width:50px;
    text-align: center;
    background-color:hsl(0, 100%, 25%);
    color: #fff;
    height:25px;
    line-height:25px;
}

=======
>>>>>>> recommending/main
header {
    background-color: black;
    margin: 0;
    padding: 10px;
    background-color:hsl(0, 100%, 25%);
    color:#fff;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color:hsl(0, 100%, 25%);
       color: #fff;
}
h1 {
    color:#fff;
}

.icon {
    font-size: 30px;
    
}
h3 
{ font-size: 24px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    border: 2px solid #000;
    padding: 5px;
    background-color: #000;
    color:aliceblue;
}

h4 {
    border: 2px solid #000;
    padding: 5px;
    background-color: #000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-out a {
    color: #fff;
    font-weight: bold;
}

nav {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
<<<<<<< HEAD
    align-items: center; 
}

li {
    margin-right: 10px; 
=======
    align-items: center; /* Center items vertically */
}

li {
    margin-right: 10px; /* Adjust as needed for spacing between items */
>>>>>>> recommending/main
}

a {
    text-decoration: none;
<<<<<<< HEAD
    
=======
    color: black;
>>>>>>> recommending/main
    
}

.content {
    flex: 1;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
}

.movies {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
   
}

.movie {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.details {
    margin-top: 15px;
}

p {
    margin: 0;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.rating-buttons {
    display: flex;
}

.rating-buttons .card-link {
    margin-right: 5px;
}

<<<<<<< HEAD


table {
    width: 80%;
    margin: 10px;
    border-collapse:separate;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color:hsl(0, 100%, 25%);
=======
.footer {
    padding: 10px;
    text-align: center;
    background-color: black;
}

table {
    width: 80%;
    margin: 10px;
    border-collapse:separate;
    background-color: gray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4285f4;
>>>>>>> recommending/main
    color: #fff;
}
.navigation {
    display: flex;
    flex-direction: column;
}

.nav-item {
<<<<<<< HEAD
    margin: 25px; 
=======
    margin: 30px; 
>>>>>>> recommending/main
}

.nav-item a {
    text-decoration: none;
    color: black;
    display: block;
<<<<<<< HEAD
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> recommending/main
}

