<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Movie Recommender{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div>
             <a><h1>Movie Recommender</h1></a>
             <a href="{{url_for('home_page')}}"><h5>HomePage</h5></a>
            </div>
            <nav>
                <ul>
                    <li class="sign-out">
                        {% if current_user.is_authenticated %}
                            <span>{{ current_user.username }} | </span>
                            <a href="{{ url_for('recommendations') }}">Get Recommendations</a> | 
                            <a href="{{ url_for('user.logout') }}">Sign Out</a>
                        {% endif %}
                    </li>
                </ul>
                
            </nav>
        </div>
    </header>
    
    
    <div class="content">
        <div class="container">
            {% block header %}{% endblock %}
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <div class="footer">
        <p> Movie Recommender &copy; 2024</p>
    </div>
    
</body>
</html>
