{% extends 'flask_user.html' %}

{% block header %}
  <h1>{% block title %}HomePage{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="navigation">
        <div class="nav-item">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('display_movies') }}">Movies</a>
            {% else %}
                <a href="{{ url_for('user.register') }}">Register</a>
            {% endif %}
        </div>
        <div class="nav-item">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('recommendations') }}">View Recommended Movies</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">Sign in</a>
            {% endif %}
        </div>
        <div class="nav-item">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user.logout') }}">Sign out</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

