{% extends 'flask_user.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="movies">
    <h2>Movies</h2>
    {% for movie in movies %}
        <article class="movie">
            <h3>{{ movie.title }}</h3>

            <section class="details">
                <h4>Genres:</h4>
                <p>
                    {% for genre in movie.genres %}
                        {{ genre.genre }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>

                {% if movie.tags %}
                    <h4>Tags:</h4>
                    <p>
                        {% for tag in movie.tags %}
                            {{ tag.tag }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p>No tags available for this movie.</p>
                {% endif %}
                <h4>Rate this Movie</h4>
                <form method="post" action="{{ url_for('rate_movies') }}">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    {% for i in range(1, 6) %}
                        <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}">
                        <label for="star{{ i }}" title="{{ i }} stars">{{ i }} &#9733;</label>
                    {% endfor %}
                    <button type="submit">Submit Rating</button>
                </form>
            </section>
        </article>
    {% endfor %}
    </div>
{% endblock %}
